
@media (min-width: 768px) {
    .navbar{
    border: transparent !important;
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }

body {
    font-weight: 600;
    text-align:center !important;
}
    

.circular_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */
    
    /*for demo*/
     margin-top:5%;
   
    vertical-align:middle;
    padding-top: 20%;

    
  }

  .circle {
    margin: auto;
    margin-top:5%;
    vertical-align:middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
  }
  
  .circle img {
    height: 100%;
  }

 
  
  .caption {
    display:inline-block;
    vertical-align:middle;
    left: 50%;
    margin-left:5%;
    margin-right:5%;
  }

  nav,
  header {
    background: none !important;
    text-transform: uppercase;
  }
  
  nav li,
  header li {
    margin-left: 3em;
    margin-right: 3em;
  }
  
  nav li a,
  header li a {
    transition: .5s color ease-in-out;
  }
  
.jumbotron{
    background-color: #f4dddd;
}
.jumbotron .container {
    background: #f4dddd;
}

.wrapper {
    display: inline-block;
    text-align: center;
    margin: 1.5%;    
}  

 .home-button{
  text-align: center !important;
  background-color: white; /* Green */
  padding: 15px 32px;
  border: 2 black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 1%; 
}

.home-button:hover{
  text-align: center !important;
  background-color: #7cc; /* Green */
  padding: 15px 32px;
  border: 2 black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 1%
}

.cancel-button{
  text-align: center !important;
  background-color: rgb(213, 121, 121); /* Green */
  padding: 15px 32px;
  border: 2 black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 1%; 
}

.cancel-button:hover{
  text-align: center !important;
  background-color: rgb(223, 52, 52); /* Green */
  padding: 15px 32px;
  border: 2 black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 1%
}


.text{
  padding-top: 10%;
  padding-bottom: 0.1%;
  font-size: 16px;
}