@media (min-width: 768px) {
    .navbar{
    border: transparent !important;
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }

body {
    font-weight: 600;
    text-align:center !important;
}


nav,
header {
  background: none !important;
  text-transform: uppercase;
}

nav li,
header li {
  margin-left: 3em;
  margin-right: 3em;
}

nav li a,
header li a {
  transition: .5s color ease-in-out;
}

.jumbotron{
    background-color: #f4dddd;
}
.jumbotron .container {
    background: #f4dddd;
}

h1 {
    margin-top: 10%
}

h2 {
    margin-bottom: 10%
}