

body {
    font-weight:100;
    text-align:center !important;
}
    
.circular_image {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    overflow: hidden;
    background-color: #A8C5FF;
}

.wrapper {
    display: inline-block;
    text-align: center;
    margin: 3%
    
}

h2 {
    margin: 2%;
}

.cancel-button{
    background-color: white; /* Green */
    border: 2 black;
    color: black;
    padding: 15px 32px;
    padding-top: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }
  
  .cancel-button:hover {
    background-color: #41930b; /* Green */
    color: white;
    padding: 15px 32px;
    padding-top: 1%;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }