/* ALL NAVBAR STUFF /*

/* This is all copy and pasted to change the colors for the button
 we need to play with these colors when we are ready
 */

 .btn-primary {
    color: white;
    background-color: #49e4f3;
}

.btn-primary:hover {
    color: #212529;
    background-color: #4adce9;
    border-color: #4adce9;
}

.jumbotron{
    background-color: #f4dddd;
}
.jumbotron .container {
    background: #f4dddd;
}


 /* This is the CSS stuff copy and pasted for the nav bar
 https://codepen.io/h3xc0ntr0l/details/BoNEXq */


.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    /* background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%); */
    background: -webkit-radial-gradient(center, ellipse, #B17676 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, #B17676 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
  
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  
  
  /*everything below here is just setting up the page, so dont worry about it */
  
  
  @media (min-width: 768px) {
    .navbar{
    border: transparent !important;
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }

  p {
    display: inline-block;
  }
  
  body {
    font-weight:600;
    text-align:center !important;
  }
  
  nav, header {
    background: none !important;
    text-transform: uppercase;
  }
  
  nav li,
  header li {
    margin-left: 3em;
    margin-right: 3em;
  }
  
  nav li a,
  header li a {
    transition: .5s color #B17676 ease-in-out;
  }
  
  .page-title {
    opacity: .75 !important;
  }



  /* OTHER CSS NOT NAVBAR STUFF */

  .material-symbols-outlined {
    padding: 0em;
    padding-inline: 0.3em;
    vertical-align: text-bottom;
      float:left;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 30
  }

  form .content .details p{
    font-size: 17px;
    font-weight: 500;
  }



  /* this is the firends button font*/
  .details .privacy span{
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
  }



  /* this is the choose file box*/
  form .options{
    height: 10px;
    width: 100%;
    margin: 15px 0; 
    border: solid white;
    border-radius: 7px;
    border-width: 89px;
  }

  

  .post header{ 
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
  }
  
  .post form{
    margin: 20px 25px;
  }

  .post form .content,
  .audience .list li .column{
    display: flex;
    align-items: center;
  }

  .box{
    width: 10%;
    margin: 35%;
    margin-top: 5%;;
  }

  .box .wrapper section{
    width: 500px;
    background: pink;
    padding: 10%;
  }

/* this is for the text box placement*/
  form :where(textarea, button){
    width: 100%;
    outline: none;
    border: none;
  }
  form textarea{
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
  }
  form textarea::placeholder{
    color: #858585;
  }
  form textarea:focus::placeholder{
    color: #b3b3b3;
  }

  /* size and design of post button */
  form button{
    height: 53px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #BCC0C4;
    cursor: no-drop;
    border-radius: 7px;
    background: #e2e5e9;
    transition: all 0.3s ease;
  }
  form textarea:valid ~ button{
    color: #fff;
    cursor: pointer;
    background: #4267B2;
  }
  form textarea:valid ~ button:hover{
    background: #4267B2;
  }